In [ ]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
  host="localhost",
  user="ragu",
  password="password"
)

cursor = mydb.cursor()

In [ ]:
#Doping database MYDATABASE if already exists.
cursor.execute("DROP database IF EXISTS Dataset1")

In [ ]:
# Creating a Database
cursor.execute(" CREATE DATABASE Dataset1")

In [ ]:
# SHOW DATABASES
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

In [ ]:
# Use heights
cursor.execute("use Dataset1")

In [ ]:
# Load Datasets to DB-heights
data = pd.read_csv("./Datasets/heights.csv")
data

In [ ]:
# Create Table heights
cursor.execute("create Table heights(height FLOAT)")

In [ ]:
# INSERT VALUES INTO heights
for row in data.itertuples():
    sql = "INSERT INTO heights (height) VALUES (%(height)s)"
    val = {
        "height":row.height
        }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
# Load Datasets to DB-auto_upgrades
data = pd.read_csv("./Datasets/auto_upgrades.csv")
data

In [ ]:
# Create Table auto_upgrades
cursor.execute("create Table auto_upgrades(Sales FLOAT)")

In [ ]:
# INSERT VALUES INTO auto_upgrades
for row in data.itertuples():
    sql = "INSERT INTO auto_upgrades (Sales) VALUES (%(Sales)s)"
    val = {
        "Sales":row.Sales
        }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
# Load Datasets to DB-dealership
data = pd.read_csv("./Datasets/dealership.csv")
data

In [ ]:
# Create Table dealership
cursor.execute("create Table dealership(Hours INT , Sales FLOAT)")

In [ ]:
# INSERT VALUES INTO dealership
for row in data.itertuples():
    sql = "INSERT INTO dealership (Hours,Sales) VALUES ( %(Hours)s ,%(Sales)s)"
    val = {
        "Hours":row.Hours,
        "Sales":row.Sales
    }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
#Doping database MYDATABASE if already exists.
cursor.execute("DROP database IF EXISTS Demo")

In [ ]:
#Preparing query to create a database
sql = "CREATE database Demo";

In [ ]:
#Creating a database
cursor.execute(sql)

In [ ]:
#Retrieving the list of databases
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

In [ ]:
#Python Mysql - Use Database
cursor.execute("use Demo")

In [ ]:
#Dropping Table if already Exists
cursor.execute("drop table if exists Iris")

In [ ]:
#Python-Mysql - Create Table
cursor.execute("create Table Iris(Id INT,SepalLengthCm FLOAT , SepalWidthCm FLOAT, PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species VARCHAR(16))")

In [ ]:
# Load Datasets to DB-Iris
data = pd.read_csv("./Datasets/Iris.csv")
data

In [ ]:
#Load csv into db
for row in data.itertuples():
    sql = "INSERT INTO Iris (Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm ,Species) VALUES (%(Id)s, %(SepalLengthCm)s, %(SepalWidthCm)s, %(PetalLengthCm)s, %(PetalWidthCm)s, %(Species)s)"
    val = {
        "Id":row.Id,
        "SepalLengthCm":row.SepalLengthCm,
        "SepalWidthCm":row.SepalWidthCm,
        "PetalLengthCm":row.PetalLengthCm,
        "PetalWidthCm": row.PetalWidthCm,
        "Species":row.Species_Id     
    }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
#Retrieving single row
sql = '''SELECT * from Iris'''

#Executing the query
cursor.execute(sql)

#Fetching 1st row from the table
result = cursor.fetchmany(size =1); # can control the rows outcomes
print(result)

In [ ]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
  host="localhost",
  user="ragu",
  password="password"
)

cursor = mydb.cursor()

In [ ]:
#Doping database MYDATABASE if already exists.
cursor.execute("DROP database IF EXISTS Datasets")

In [ ]:
# Creating a Database
cursor.execute(" CREATE DATABASE Datasets")

In [ ]:
# SHOW DATABASES
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

In [ ]:
# Use heights
cursor.execute("use Datasets")

In [ ]:
# Load Datasets to DB-Iris
data = pd.read_csv("./Datasets/Iris.csv")
data

In [ ]:
cursor.execute("create Table Iris(Id INT,SepalLengthCm FLOAT , SepalWidthCm FLOAT, PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species VARCHAR(16))")

In [ ]:
for row in data.itertuples():
    sql = "INSERT INTO Iris (Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm ,Species) VALUES (%(Id)s, %(SepalLengthCm)s, %(SepalWidthCm)s, %(PetalLengthCm)s, %(PetalWidthCm)s, %(Species)s)"
    val = {
        "Id":row.Id,
        "SepalLengthCm":row.SepalLengthCm,
        "SepalWidthCm":row.SepalWidthCm,
        "PetalLengthCm":row.PetalLengthCm,
        "PetalWidthCm": row.PetalWidthCm,
        "Species":row.Species_Id     
    }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
#Doping database MYDATABASE if already exists.
cursor.execute("DROP database IF EXISTS joins")

In [ ]:
# Create Database 
cursor.execute("create database joins")

In [ ]:
# SHOW DATABASES
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

In [ ]:
# Use Joins db
cursor.execute("use joins")

In [ ]:
# Load Datasets to DB-Iris
data = pd.read_csv("./Datasets/Iris.csv")
data

In [ ]:
# Create Table Iris-sepal
cursor.execute("create Table Iris_sepal(Id INT PRIMARY KEY, SepalLengthCm FLOAT , SepalWidthCm FLOAT , Species_Id varchar(2) )")

In [ ]:
# Insert into Iris_sepal
for row in data.itertuples():
    sql = "INSERT INTO Iris_sepal (Id, SepalLengthCm, SepalWidthCm, Species_Id) VALUES (%(Id)s, %(SepalLengthCm)s, %(SepalWidthCm)s, %(Species_Id)s) "
    val = {
        "Id":row.Id,
        "SepalLengthCm":row.SepalLengthCm,
        "SepalWidthCm":row.SepalWidthCm,
        "Species_Id": row.Species_Id
    }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
# Create Table Iris-petal
cursor.execute("create Table Iris_petal(Id INT  PRIMARY KEY ,  PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species_Id varchar(2) )")

In [ ]:
# Insert into Iris_petal
for row in data.itertuples():
    sql = "INSERT INTO Iris_petal (Id,  PetalLengthCm, PetalWidthCm, Species_Id ) VALUES (%(Id)s, %(PetalLengthCm)s, %(PetalWidthCm)s, %(Species_Id)s )"
    val = {
        "Id":row.Id,
        "PetalLengthCm":row.PetalLengthCm,
        "PetalWidthCm": row.PetalWidthCm,
        "Species_Id": row.Species_Id
    }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
# Load Datasets to DB-Iris
data = pd.read_csv("./Datasets/Iris_species.csv")
data

In [ ]:
# Create Table Iris_species
cursor.execute("create Table Iris_species(Id INT ,Species_Id VARCHAR(2) PRIMARY KEY , Species VARCHAR(16))")

In [ ]:
# Insert into Iris_species
for row in data.itertuples():
    sql = "INSERT INTO Iris_species (Id,Species_Id , Species) VALUES (%(Id)s,%(Species_Id)s ,%(Species)s)"
    val = {
        "Id":row.Id,
        "Species_Id": row.Species_Id,
        "Species":row.Species     
    }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
# Select Table Iris_petal
pd.read_sql_query("select * from Iris_petal",mydb)

In [ ]:
# Select Table Iris_sepal
pd.read_sql_query("select * from Iris_sepal",mydb)

In [ ]:
# Select Table Iris_species
pd.read_sql_query("select * from Iris_species",mydb)

In [ ]:
# Create Table members
cursor.execute("create Table member(member_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100)  )")

In [ ]:
# Create Table committees
cursor.execute("create Table committees(committees_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100)  )")

In [ ]:
# Inserting Values to member table
cursor.execute("INSERT INTO member(name) VALUES ('Ragu'),('Vicky'),('Thanigai'),('Deva'),('Jegan')")

In [ ]:
# Inserting Values to committees table
cursor.execute("INSERT INTO committees(name) VALUES ('Ragu'),('Vicky'),('Thanigai'),('Jegan')")

In [ ]:
# Viewing the Member table
pd.read_sql_query("select * from member",mydb)

In [ ]:
# Viewing the committees table
pd.read_sql_query("select * from committees",mydb)