In [ ]:
import mysql.connector
import pandas as pd

#Python MySQL - Database Connection
mydb = mysql.connector.connect(host="localhost",user="ragu",password="password", database = "Demo")
cursor = mydb.cursor()

In [ ]:
#Python Mysql - Use Database
cursor.execute("use Demo")

In [ ]:
# Retrieving data using pandas
pd.read_sql_query("SELECT * from Iris",mydb)

In [ ]:
# Retrieving data using pandas selected part
pd.read_sql_query("SELECT Id , Species from Iris ",mydb)

In [ ]:
# Where Clause
pd.read_sql_query("select * from Iris where SepalLengthCm < 5 ",mydb)

In [ ]:
# Where Clause
pd.read_sql_query("select * from Iris where SepalLengthCm < 5 and PetalLengthCm > 3.3  ",mydb)

In [ ]:
# Where Clause
pd.read_sql_query("select * from Iris where SepalLengthCm < 5 or PetalLengthCm > 3.3  ",mydb)

In [ ]:
# Orderby
pd.read_sql_query("select * from Iris where PetalLengthCm > 3.3 order by PetalLengthCm ",mydb)

In [ ]:
# Before Update Table
pd.read_sql_query("select * from  Iris",mydb)

In [ ]:
# Update Table
sql = '''update Iris set Id = Id+1 where Species = 'Iris-setosa' '''
cursor.execute(sql)

In [ ]:
# After Update Table
pd.read_sql_query("select * from  Iris",mydb)

In [ ]:
# Delete Data
sql = '''Delete from Iris where Species = 'Iris-setosa' '''
cursor.execute(sql)

In [ ]:
pd.read_sql_query("select * from Iris",mydb)

In [ ]:
# List the Tables
cursor.execute("SHOW Tables")
for x in cursor:
    print(x)

In [ ]:
# create a Table (dummie)
sql ='''CREATE TABLE EMP(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT
)'''
cursor.execute(sql)

In [ ]:
# List the Tables
cursor.execute("SHOW Tables")
for x in cursor:
    print(x)

In [ ]:
# Drop Table
sql = ''' drop table EMP'''
cursor.execute(sql)

In [ ]:
# List the Tables
cursor.execute("SHOW Tables")
for x in cursor:
    print(x)

In [ ]:
# Limit clause 
pd.read_sql_query("select Id from Iris LIMIT 2",mydb)

In [ ]:
# Limit clause 
pd.read_sql_query("select * from Iris LIMIT 2",mydb)

In [ ]:
# Limit with offset
pd.read_sql_query("select * from Iris LIMIT 2 offset 4 ",mydb) #includes last row of limit and first row of offset

In [ ]:
# Exercise 6: Querying the Salespeople Table Using Basic Keywords in a SELECT Query
pd.read_sql_query("select Id from Iris where Species ='Iris-versicolor' order by PetalWidthCm LIMIT 10  ",mydb)

In [ ]:
# Exercise 7: Creating a Table in SQL
cursor.execute("create Table iris(Id INT,SepalLengthCm FLOAT , SepalWidthCm FLOAT, PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species VARCHAR(16))")

In [ ]:
# List Tables
cursor.execute("SHOW Tables")

for x in cursor:
    print(x)

In [ ]:
# Before Updating
pd.read_sql_query("select * from Iris where PetalWidthCm > 1.5 and PetalWidthCm < 3",mydb)

In [ ]:
# Exercise 8: Updating Tables in SQL
sql = ''' update Iris SET Id = Id +1 where PetalWidthCm > 1.5 and PetalWidthCm < 3'''
cursor.execute(sql)

In [ ]:
# After Updating
pd.read_sql_query("select * from Iris where PetalWidthCm > 1.5 and PetalWidthCm < 3",mydb)

In [ ]:
# Exercise 9: Unnecessary Reference Table
sql = '''drop table iris'''
cursor.execute(sql)

In [ ]:
# List Tables
cursor.execute("SHOW Tables")

for x in cursor:
    print(x)