In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics as stat
import math
import pymysql

In [ ]:
# Establish connection 
conn=pymysql.connect(host='localhost',port=int(3306),user='ragu',passwd='password',db='Dataset1')

In [ ]:
# Exercise 1: Creating a Histogram

In [ ]:
# Loading the data from db
data = pd.read_sql_query("SELECT * FROM heights ",conn)

In [ ]:
plt.xlabel("heights")
plt.ylabel("No of people")
plt.title('Exercise 1: Creating a Histogram')
plt.hist(data)
plt.show()

In [ ]:
# Exercise 2: Calculating the Quartiles for Add-on Sales

In [ ]:
# Loading the data from db
data = pd.read_sql_query("SELECT * FROM auto_upgrades ",conn)

In [ ]:
# First quartile (Q1)
Q1 = np.percentile(data, 25)

# Second quartile (Q2)
Q2 = np.percentile(data, 50)
  
# Third quartile (Q3)
Q3 = np.percentile(data, 75)

# Four quartile (Q4)
Q4 = np.percentile(data, 100)

In [ ]:
plt.xlabel("Quartiles")
plt.ylabel("Car Price")
plt.title('Exercise 2: Calculating the Quartiles for Add-on Sales')
plt.boxplot(data)
plt.show()

In [ ]:
# Exercise 3: Calculating the Central Tendency of Add-on Sales

In [ ]:
# Loading the data from db
data = pd.read_sql_query("SELECT * FROM auto_upgrades ",conn)

In [ ]:
mode = np.unique(data)
mean = np.mean(data)
median = np.median(data)
data = [mode, mean, median]

In [ ]:
plt.xlabel("Quartiles")
plt.ylabel("Car Price")
plt.title('Exercise 3: Calculating the Central Tendency of Add-on Sales')
plt.boxplot(data)
plt.show()

In [ ]:
# Exercise 4: Dispersion of Add-on Sales

In [ ]:
# Loading the data from db
data = pd.read_sql_query("SELECT * FROM auto_upgrades ",conn)

In [ ]:
data = data['Sales'].tolist()

In [ ]:
# Range
range_ = max(data) - min(data)
range_

In [ ]:
# Standard deviation

# Using Python's statistics Function's variance() & stdev()

stat.variance(data)
stat.stdev(data)

# From crash
def Var(data):
    n = len(data)
    mean = sum(data)/n
    Var = sum((x-mean)**2 for x in data) / (n-1)
    return Var

def Stdev(data):
    var = Var(data)
    Stdev = math.sqrt(var)
    return Stdev
Var(data)
Stdev(data)

In [ ]:
# Calculating the mean of Quartiles 
# First quartile (Q1)
Q1 = np.percentile(data, 25)

# Second quartile (Q2)
Q2 = np.percentile(data, 50)
  
# Third quartile (Q3)
Q3 = np.percentile(data, 75)

# Four quartile (Q4)
Q4 = np.percentile(data, 100)

In [ ]:
# Loading the data from db
data = pd.read_sql_query("SELECT * FROM auto_upgrades ",conn)
data = data['Sales'].tolist()
# Difference With Mean
Diff = data - np.mean(data)
Diff

In [ ]:
# Differences with Mean Squared
Diff_Mean_Sqr = Diff**2
Diff_Mean_Sqr

In [ ]:
# Divide the sum by the number of data points minus 1, which, in this case, is 10, and take its square root.
# Loading the data from db
data = pd.read_sql_query("SELECT * FROM auto_upgrades ",conn)
data = data['Sales'].tolist()
sample = data
data = sum(data) -1
stat.stdev(sample)

In [ ]:
# Interquaritle range (IQR)
IQR = Q3 - Q1
IQR

In [ ]:
# Exercise 5: Calculating the Pearson Correlation Coefficient for Two Variables

In [ ]:
# Loading the data from db
data = pd.read_sql_query("SELECT * FROM dealership ",conn)
data

In [ ]:
#  Create a scatterplot of the two variables
Hours = data.Hours
Sales = data.Sales
plt.title('Exercise 5: Calculating the Pearson Correlation Coefficient for Two Variables')
plt.xlabel("Hours")
plt.ylabel("Sales")
plt.scatter(Hours,Sales)
plt.show()

In [ ]:
# Calculate the mean of each variable
Mean_Hours = np.mean(Hours)
Mean_Sales = np.mean(Sales)
print(Mean_Hours)
print(Mean_Sales)

In [ ]:
x_mean =  Hours - Mean_Hours
sq_x_mean = x_mean**2
y_mean = Sales - Mean_Sales
sq_y_mean = y_mean**2
x_mean_y_mean = x_mean*y_mean
x_mean_y_mean

In [ ]:
# Find the sum of the squared terms and the sum of the product of the differences.
sum_of_squared_x = sum(sq_x_mean)
sum_of_squared_y = sum(sq_y_mean)
sum_of_product = sum(x_mean_y_mean)

In [ ]:
diff_x = sum_of_product - sum_of_squared_x

In [ ]:
diff_y = sum_of_squared_y - sum_of_product

In [ ]:
# Take the square root of the sum of the differences
sum_of_diff = diff_x + diff_y
np.sqrt(sum_of_diff)

In [ ]:
# Input the values into the equation
data = pd.read_sql_query("SELECT * FROM dealership ",conn)
x = data.Hours
y = data.Sales
r = sum((x-np.mean(x))*(y-np.mean(y)))/((np.sqrt(sum((x-np.mean(x))**2)))*(np.sqrt(sum((y-np.mean(y))**2))))
r