In [17]:
import mysql.connector

#Python MySQL - Database Connection
mydb = mysql.connector.connect(host="localhost",user="ragu",password="password")
cursor = mydb.cursor()

In [18]:
#Doping database MYDATABASE if already exists.
cursor.execute("DROP database IF EXISTS Demo")

In [19]:
#Preparing query to create a database
sql = "CREATE database Demo";

In [20]:
#Creating a database
cursor.execute(sql)

In [21]:
#Retrieving the list of databases
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

('Datasets',)
('Demo',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [23]:
#Python Mysql - Use Database
cursor.execute("use Demo")

In [25]:
#Dropping Table if already Exists
cursor.execute("drop table if exists Iris")

In [27]:
#Python-Mysql - Create Table
cursor.execute("create Table Iris(Id INT,SepalLengthCm FLOAT , SepalWidthCm FLOAT, PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species VARCHAR(16))")