In [1]:
import mysql.connector
import pandas as pd

#Python MySQL - Database Connection
mydb = mysql.connector.connect(host="localhost",user="ragu",password="password")
cursor = mydb.cursor()

In [2]:
#Doping database MYDATABASE if already exists.
cursor.execute("DROP database IF EXISTS Demo")

In [3]:
#Preparing query to create a database
sql = "CREATE database Demo";

In [4]:
#Creating a database
cursor.execute(sql)

In [5]:
#Retrieving the list of databases
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

('Datasets',)
('Demo',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [6]:
#Python Mysql - Use Database
cursor.execute("use Demo")

In [7]:
#Dropping Table if already Exists
cursor.execute("drop table if exists Iris")

In [8]:
#Python-Mysql - Create Table
cursor.execute("create Table Iris(Id INT,SepalLengthCm FLOAT , SepalWidthCm FLOAT, PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species VARCHAR(16))")

In [9]:
# Load Datasets to DB-Iris
import pandas as pd
data = pd.read_csv("../Datasets/Iris.csv")
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
#Load csv into db
for row in data.itertuples():
    sql = "INSERT INTO Iris (Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm ,Species) VALUES (%(Id)s, %(SepalLengthCm)s, %(SepalWidthCm)s, %(PetalLengthCm)s, %(PetalWidthCm)s, %(Species)s)"
    val = {
        "Id":row.Id,
        "SepalLengthCm":row.SepalLengthCm,
        "SepalWidthCm":row.SepalWidthCm,
        "PetalLengthCm":row.PetalLengthCm,
        "PetalWidthCm": row.PetalWidthCm,
        "Species":row.Species     
    }  
    cursor.execute(sql, val)
    mydb.commit()

In [31]:
#Python MySQL - Database Connection
mydb = mysql.connector.connect(host="localhost",user="ragu",password="password", database = "Demo")
cursor = mydb.cursor()

In [12]:
#Retrieving single row
sql = '''SELECT * from Iris'''

#Executing the query
cursor.execute(sql)

#Fetching 1st row from the table
result = cursor.fetchmany(size =1); # can control the rowa outcomes
print(result)

[(1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa')]

In [13]:
#Python MySQL - Database Connection
mydb = mysql.connector.connect(host="localhost",user="ragu",password="password", database = "Demo")
cursor = mydb.cursor()

In [14]:
# Retrieving data using pandas
pd.read_sql_query("SELECT * from Iris",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [15]:
# Retrieving data using pandas selected part
pd.read_sql_query("SELECT Id , Species from Iris ",mydb)

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

In [16]:
# Where Clause
pd.read_sql_query("select * from Iris where SepalLengthCm < 5 ",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,2,4.9,3.0,1.4,0.2,Iris-setosa
1,3,4.7,3.2,1.3,0.2,Iris-setosa
2,4,4.6,3.1,1.5,0.2,Iris-setosa
3,7,4.6,3.4,1.4,0.3,Iris-setosa
4,9,4.4,2.9,1.4,0.2,Iris-setosa
5,10,4.9,3.1,1.5,0.1,Iris-setosa
6,12,4.8,3.4,1.6,0.2,Iris-setosa
7,13,4.8,3.0,1.4,0.1,Iris-setosa
8,14,4.3,3.0,1.1,0.1,Iris-setosa
9,23,4.6,3.6,1.0,0.2,Iris-setosa
10,25,4.8,3.4,1.9,0.2,Iris-setosa
11,30,4.7,3.2,1.6,0.2,Iris-setosa
12,31,4.8,3.1,1.6,0.2,Iris-setosa
13,35,4.9,3.1,1.5,0.1,Iris-setosa
14,38,4.9,3.1,1.5,0.1,Iris-setosa
15,39,4.4,3.0,1.3,0.2,Iris-setosa
16,42,4.5,2.3,1.3,0.3,Iris-setosa
17,43,4.4,3.2,1.3,0.2,Iris-setosa
18,46,4.8,3.0,1.4,0.3,Iris-setosa
19,48,4.6,3.2,1.4,0.2,Iris-setosa
20,58,4.9,2.4,3.3,1.0,Iris-versicolor
21,107,4.9,2.5,4.5,1.7,Iris-virginica

In [17]:
# Where Clause
pd.read_sql_query("select * from Iris where SepalLengthCm < 5 and PetalLengthCm > 3.3  ",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,107,4.9,2.5,4.5,1.7,Iris-virginica

In [18]:
# Where Clause
pd.read_sql_query("select * from Iris where SepalLengthCm < 5 or PetalLengthCm > 3.3  ",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,2,4.9,3.0,1.4,0.2,Iris-setosa
1,3,4.7,3.2,1.3,0.2,Iris-setosa
2,4,4.6,3.1,1.5,0.2,Iris-setosa
3,7,4.6,3.4,1.4,0.3,Iris-setosa
4,9,4.4,2.9,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
113,146,6.7,3.0,5.2,2.3,Iris-virginica
114,147,6.3,2.5,5.0,1.9,Iris-virginica
115,148,6.5,3.0,5.2,2.0,Iris-virginica
116,149,6.2,3.4,5.4,2.3,Iris-virginica
117,150,5.9,3.0,5.1,1.8,Iris-virginica

In [19]:
# Orderby
pd.read_sql_query("select * from Iris where PetalLengthCm > 3.3 order by PetalLengthCm ",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,80,5.7,2.6,3.5,1.0,Iris-versicolor
1,61,5.0,2.0,3.5,1.0,Iris-versicolor
2,65,5.6,2.9,3.6,1.3,Iris-versicolor
3,82,5.5,2.4,3.7,1.0,Iris-versicolor
4,81,5.5,2.4,3.8,1.1,Iris-versicolor
...,...,...,...,...,...,...
92,132,7.9,3.8,6.4,2.0,Iris-virginica
93,106,7.6,3.0,6.6,2.1,Iris-virginica
94,118,7.7,3.8,6.7,2.2,Iris-virginica
95,123,7.7,2.8,6.7,2.0,Iris-virginica
96,119,7.7,2.6,6.9,2.3,Iris-virginica

In [20]:
# Before Update Table
pd.read_sql_query("select * from  Iris",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [21]:
# Update Table
sql = '''update Iris set Id = Id+1 where Species = 'Iris-setosa' '''
cursor.execute(sql)

In [22]:
# After Update Table
pd.read_sql_query("select * from  Iris",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,2,5.1,3.5,1.4,0.2,Iris-setosa
1,3,4.9,3.0,1.4,0.2,Iris-setosa
2,4,4.7,3.2,1.3,0.2,Iris-setosa
3,5,4.6,3.1,1.5,0.2,Iris-setosa
4,6,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
# Delete Data
sql = '''Delete from Iris where Species = 'Iris-setosa' '''
cursor.execute(sql)

In [24]:
pd.read_sql_query("select * from Iris",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,51,7.0,3.2,4.7,1.4,Iris-versicolor
1,52,6.4,3.2,4.5,1.5,Iris-versicolor
2,53,6.9,3.1,4.9,1.5,Iris-versicolor
3,54,5.5,2.3,4.0,1.3,Iris-versicolor
4,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
95,146,6.7,3.0,5.2,2.3,Iris-virginica
96,147,6.3,2.5,5.0,1.9,Iris-virginica
97,148,6.5,3.0,5.2,2.0,Iris-virginica
98,149,6.2,3.4,5.4,2.3,Iris-virginica
99,150,5.9,3.0,5.1,1.8,Iris-virginica

In [32]:
# List the Tables
cursor.execute("SHOW Tables")
for x in cursor:
    print(x)

('Iris',)

In [33]:
# create a Table (dummie)
sql ='''CREATE TABLE EMP(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT
)'''
cursor.execute(sql)

In [34]:
# List the Tables
cursor.execute("SHOW Tables")
for x in cursor:
    print(x)

('EMP',)
('Iris',)

In [36]:
# Drop Table
sql = ''' drop table EMP'''
cursor.execute(sql)

In [37]:
# List the Tables
cursor.execute("SHOW Tables")
for x in cursor:
    print(x)

('Iris',)

In [39]:
# Limit clause 
pd.read_sql_query("select Id from Iris LIMIT 2",mydb)

   Id
0  51
1  52

In [42]:
# Limit clause 
pd.read_sql_query("select * from Iris LIMIT 2",mydb)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,51,7.0,3.2,4.7,1.4,Iris-versicolor
1,52,6.4,3.2,4.5,1.5,Iris-versicolor

In [53]:
# Limit with offset
pd.read_sql_query("select * from Iris LIMIT 2 offset 4 ",mydb) #includes last row of limit and first row of offset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,55,6.5,2.8,4.6,1.5,Iris-versicolor
1,56,5.7,2.8,4.5,1.3,Iris-versicolor