In [2]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
  host="localhost",
  user="ragu",
  password="password"
)

mycursor = mydb.cursor()

In [3]:
#Doping database MYDATABASE if already exists.
mycursor.execute("DROP database IF EXISTS Datasets")

In [4]:
# Creating a Database
mycursor.execute(" CREATE DATABASE Datasets")

In [5]:
# SHOW DATABASES
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('Datasets',)
('Demo',)
('information_schema',)
('joins',)
('mysql',)
('performance_schema',)
('sys',)

In [6]:
# Use heights
mycursor.execute("use Datasets")

In [7]:
# Load Datasets to DB-heights
data = pd.read_csv("./Datasets/heights.csv")
data

          height
0     182.395153
1     177.369198
2     182.198838
3     176.988964
4     163.689656
...          ...
9995  172.694718
9996  184.422508
9997  193.775173
9998  185.282704
9999  178.123633

[10000 rows x 1 columns]

In [8]:
# Create Table heights
mycursor.execute("create Table heights(height FLOAT)")

In [9]:
# INSERT VALUES INTO heights
for row in data.itertuples():
    sql = "INSERT INTO heights (height) VALUES (%(height)s)"
    val = {
        "height":row.height
        }  
    mycursor.execute(sql, val)
    mydb.commit()

In [12]:
# Load Datasets to DB-auto_upgrades
data = pd.read_csv("./Datasets/auto_upgrades.csv")
data

    Add-on Sales
0           5000
1           1700
2           8200
3           1500
4           3300
5           9000
6           2000
7              0
8              0
9           2300
10          4700

In [13]:
# Create Table auto_upgrades
mycursor.execute("create Table auto_upgrades(Sales INT)")

In [20]:
for row in data.itertuples():

AttributeError: 'Pandas' object has no attribute 'Add'

In [16]:
# INSERT VALUES INTO auto_upgrades
for row in data.itertuples():
    print(row)
    sql = "INSERT INTO auto_upgrades (Sales) VALUES (%(Sales)s)"
    val = {
        "Sales":row.Sales
        }  
    mycursor.execute(sql, val)
    mydb.commit()

Pandas(Index=0, _1=5000)

AttributeError: 'Pandas' object has no attribute 'Sales'

In [ ]:
# Load Datasets to DB-dealership
data = pd.read_csv("../Datasets/dealership.csv")
data

In [ ]:
# Create Table dealership
mycursor.execute("create Table dealership(Hours INT , Sales FLOAT)")

In [ ]:
# INSERT VALUES INTO dealership
for row in data.itertuples():
    sql = "INSERT INTO dealership (Hours,Sales) VALUES ( %(Hours)s ,%(Sales)s)"
    val = {
        "Hours":row.Hours,
        "Sales":row.Sales
    }  
    mycursor.execute(sql, val)
    mydb.commit()

In [ ]:
#Doping database MYDATABASE if already exists.
cursor.execute("DROP database IF EXISTS Demo")

In [ ]:
#Preparing query to create a database
sql = "CREATE database Demo";

In [ ]:
#Creating a database
cursor.execute(sql)

In [ ]:
#Retrieving the list of databases
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

In [ ]:
#Python Mysql - Use Database
cursor.execute("use Demo")

In [ ]:
#Dropping Table if already Exists
cursor.execute("drop table if exists Iris")

In [ ]:
#Python-Mysql - Create Table
cursor.execute("create Table Iris(Id INT,SepalLengthCm FLOAT , SepalWidthCm FLOAT, PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species VARCHAR(16))")

In [ ]:
# Load Datasets to DB-Iris
data = pd.read_csv("../Datasets/Iris.csv")
data

In [ ]:
#Load csv into db
for row in data.itertuples():
    sql = "INSERT INTO Iris (Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm ,Species) VALUES (%(Id)s, %(SepalLengthCm)s, %(SepalWidthCm)s, %(PetalLengthCm)s, %(PetalWidthCm)s, %(Species)s)"
    val = {
        "Id":row.Id,
        "SepalLengthCm":row.SepalLengthCm,
        "SepalWidthCm":row.SepalWidthCm,
        "PetalLengthCm":row.PetalLengthCm,
        "PetalWidthCm": row.PetalWidthCm,
        "Species":row.Species     
    }  
    cursor.execute(sql, val)
    mydb.commit()

In [ ]:
#Retrieving single row
sql = '''SELECT * from Iris'''

#Executing the query
cursor.execute(sql)

#Fetching 1st row from the table
result = cursor.fetchmany(size =1); # can control the rows outcomes
print(result)

In [ ]:
# SHOW DATABASES
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

In [ ]:
# Use heights
mycursor.execute("use Datasets")

In [ ]:
# Load Datasets to DB-Iris
data = pd.read_csv("../Datasets/Iris.csv")
data

In [ ]:
mycursor.execute("create Table Iris(Id INT,SepalLengthCm FLOAT , SepalWidthCm FLOAT, PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species VARCHAR(16))")

In [ ]:
for row in data.itertuples():
    sql = "INSERT INTO Iris (Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm ,Species) VALUES (%(Id)s, %(SepalLengthCm)s, %(SepalWidthCm)s, %(PetalLengthCm)s, %(PetalWidthCm)s, %(Species)s)"
    val = {
        "Id":row.Id,
        "SepalLengthCm":row.SepalLengthCm,
        "SepalWidthCm":row.SepalWidthCm,
        "PetalLengthCm":row.PetalLengthCm,
        "PetalWidthCm": row.PetalWidthCm,
        "Species":row.Species     
    }  
    mycursor.execute(sql, val)
    mydb.commit()

In [ ]:
#Doping database MYDATABASE if already exists.
mycursor.execute("DROP database IF EXISTS joins")

In [ ]:
# Create Database 
mycursor.execute("create database joins")

In [ ]:
# SHOW DATABASES
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

In [ ]:
# Use Joins db
mycursor.execute("use joins")

In [ ]:
# Load Datasets to DB-Iris
data = pd.read_csv("../Datasets/Iris.csv")
data

In [ ]:
# Create Table Iris-sepal
mycursor.execute("create Table Iris_sepal(Id INT PRIMARY KEY, SepalLengthCm FLOAT , SepalWidthCm FLOAT , Species_Id varchar(2) )")

In [ ]:
# Insert into Iris_sepal
for row in data.itertuples():
    sql = "INSERT INTO Iris_sepal (Id, SepalLengthCm, SepalWidthCm, Species_Id) VALUES (%(Id)s, %(SepalLengthCm)s, %(SepalWidthCm)s, %(Species_Id)s) "
    val = {
        "Id":row.Id,
        "SepalLengthCm":row.SepalLengthCm,
        "SepalWidthCm":row.SepalWidthCm,
        "Species_Id": row.Species_Id
    }  
    mycursor.execute(sql, val)
    mydb.commit()

In [ ]:
# Create Table Iris-petal
mycursor.execute("create Table Iris_petal(Id INT  PRIMARY KEY ,  PetalLengthCm FLOAT, PetalWidthCm FLOAT , Species_Id varchar(2) )")

In [ ]:
# Insert into Iris_petal
for row in data.itertuples():
    sql = "INSERT INTO Iris_petal (Id,  PetalLengthCm, PetalWidthCm, Species_Id ) VALUES (%(Id)s, %(PetalLengthCm)s, %(PetalWidthCm)s, %(Species_Id)s )"
    val = {
        "Id":row.Id,
        "PetalLengthCm":row.PetalLengthCm,
        "PetalWidthCm": row.PetalWidthCm,
        "Species_Id": row.Species_Id
    }  
    mycursor.execute(sql, val)
    mydb.commit()

In [ ]:
# Load Datasets to DB-Iris
data = pd.read_csv("../Datasets/Iris_species.csv")
data

In [ ]:
# Create Table Iris_species
mycursor.execute("create Table Iris_species(Id INT ,Species_Id VARCHAR(2) PRIMARY KEY , Species VARCHAR(16))")

In [ ]:
# Insert into Iris_species
for row in data.itertuples():
    sql = "INSERT INTO Iris_species (Id,Species_Id , Species) VALUES (%(Id)s,%(Species_Id)s ,%(Species)s)"
    val = {
        "Id":row.Id,
        "Species_Id": row.Species_Id,
        "Species":row.Species     
    }  
    mycursor.execute(sql, val)
    mydb.commit()

In [ ]:
# Select Table Iris_petal
pd.read_sql_query("select * from Iris_petal",mydb)

In [ ]:
# Select Table Iris_sepal
pd.read_sql_query("select * from Iris_sepal",mydb)

In [ ]:
# Select Table Iris_species
pd.read_sql_query("select * from Iris_species",mydb)

In [ ]:
# Create Table members
mycursor.execute("create Table member(member_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100)  )")

In [ ]:
# Create Table committees
mycursor.execute("create Table committees(committees_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100)  )")

In [ ]:
# Inserting Values to member table
mycursor.execute("INSERT INTO member(name) VALUES ('Ragu'),('Vicky'),('Thanigai'),('Deva'),('Jegan')")

In [ ]:
# Inserting Values to committees table
mycursor.execute("INSERT INTO committees(name) VALUES ('Ragu'),('Vicky'),('Thanigai'),('Jegan')")

In [ ]:
# Viewing the Member table
pd.read_sql_query("select * from member",mydb)

In [ ]:
# Viewing the committees table
pd.read_sql_query("select * from committees",mydb)